In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\john\appdata\local\programs\python\python310\lib\site-packages (9.0.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user = "little_lemon_user", password = "littlelemonuser", host="localhost", db = "littlelemondb")

In [4]:
# Create a cursor object to interact with the database
cursor = connection.cursor()

# Define the query to show all tables in the database
query = "SHOW TABLES"

# Execute the query
cursor.execute(query)

# Fetch all the results
results = cursor.fetchall()

# Print the results (list of tables)
print("Tables in the database:")
for row in results:
    print(row[0])

# Close the cursor
cursor.close()

Tables in the database:
bookings
customers
menuitems
menus
order_menu
orderdeliverystatus
orders
ordersview
staffs

True

In [6]:
# Query with table JOIN
# Create a cursor object to interact with the database
cursor = connection.cursor()

# define the query to return the full name and contact details for every customer 
# that has placed an order greater than $60 for a promotional campaign
over_60_customers = """
SELECT Customers.CustomerName, Customers.ContactNumber, Customers.Email
FROM Customers
JOIN Bookings ON Customers.CustomerID = Bookings.CustomerID
JOIN Orders ON Orders.BookingID = Bookings.BookingID
WHERE Orders.TotalCost > 60;
"""

# Execute the query
cursor.execute(over_60_customers)

# Fetch all the results
results = cursor.fetchall()

# Print the results (list of tables)
print(cursor.column_names)
print("Tables in the database:")
for row in results:
    print(row)

# Close the cursor
cursor.close()

('CustomerName', 'ContactNumber', 'Email')
Tables in the database:
('David Martin', '666-777-8888', 'david@example.com')
('Chris Evans', '999-888-7777', 'chris@example.com')
('Olivia Green', '444-555-6666', 'olivia@example.com')
('Liam Moore', '666-777-8888', 'liam@example.com')
('Mia Hall', '111-111-2222', 'mia@example.com')
('Noah Scott', '222-222-3333', 'noah@example.com')
('Sophia Brown', '555-555-6666', 'sophiaB@example.com')
('Oliver Taylor', '666-666-7777', 'oliver@example.com')

True